# Python for Data Professional Beginner - Part 1

## BAB 1. Struktur Program Python

In [49]:
# Statement
print("Belajar Python Menyenangkan") 
print("Halo Dunia")
print("Hello World!")

# Variables & Literals
bilangan1 = 5
bilangan2 = 10
kalimat1 = "Belajar Bahasa Python"

# Operators
print(bilangan1 + bilangan2)

Belajar Python Menyenangkan
Halo Dunia
Hello World!
15

In [50]:
bilangan1 = 20
bilangan2 = 10
print(bilangan1 - bilangan2)

10

In [51]:
harga_asli = 20000
potongan = 2000
harga_setelah_potongan = harga_asli - potongan
harga_final = harga_setelah_potongan * 1.1
print(harga_final)

19800.0

## BAB 2. Python Variables and Types

### Sequence

In [ ]:
# List Bersifat Mutable
contoh_list = [1,'dua',3,4.0,5]
print(contoh_list[0])
print(contoh_list[3])
contoh_list = [1,'dua',3,4.0,5]
contoh_list[3] = 'empat'
print(contoh_list[3])

In [ ]:
# Tuple bersifat immutable
contoh_tuple = ('Januari', 'Februari', 'Maret', 'April')
print(contoh_tuple[0])
contoh_tuple = ('Januari', 'Februari', 'Maret', 'April')
contoh_tuple[0] = "Desember"

In [ ]:
# Set dan Frozen set bersifat unik dan tidak memperhatikan urutan
contoh_list = ['Dewi', 'Budi', 'Cici', 'Linda', 'Cici'] 
print(contoh_list)
contoh_set = {'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'}
print(contoh_set)
contoh_frozen_set = ({'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'})
print(contoh_frozen_set)

In [ ]:
# mapping atau dictionary memetakan sebuah nilai ke nilai lainnya
person = {'nama': 'John Doe', 'pekerjaan': 'Programmer'}
print(person['nama'])
print(person['pekerjaan'])

In [ ]:
sepatu = {"nama": "Sepatu Niko", "Harga": 150000, "diskon": 30000 }
baju = {"nama": "Baju Unikloh", "Harga": 80000, "diskon": 8000}
celana = {"nama": "Celana Lepis", "Harga": 200000, "diskon":60000}

In [ ]:
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000} 
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000} 
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000} 
daftar_belanja = [sepatu, baju, celana]

In [ ]:
# Data yang dinyatakan ke dalam dictionary
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000} 
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000} 
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000}
# Hitunglah harga masing-masing data setelah dikurangi diskon
harga_sepatu = sepatu["harga"] - sepatu["diskon"] 
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
# Hitung harga total
total_harga = harga_sepatu + harga_baju + harga_celana
# Hitung harga kena pajak
total_pajak = total_harga * 0.1
# Cetak total_harga + total_pajak
print(total_harga + total_pajak)

## BAB 3. Python Operators

Di dalam Python, operator terbagi ke dalam 6 kelompok:

  1. Arithmetic operators
  2. Assignment operators
  3. Comparison operators
  4. Logical operators
  5. Identity operators
  6. Membership operators

In [ ]:
# 1. Arithmetic operators
print(3 + 2) # Penambahan
print(4 - 2) # Pengurangan
print(3 * 2) # Perkalian
print(3 / 2) # Pembagian
print(3 % 2) # Modulo
print(3 ** 2) # Pangkat
print(3 // 2) # Pembagian dengan  pembulatan ke bawah

In [ ]:
# 2. Assignment operators
x = 3
x += 2  # Penambahan
print(x)

x -= 2  # Pengurangan
print(x)

x *= 2  # Perkalian
print(x)

x /= 2  # Pembagian
print(x)

x %= 2  # Modulo
print(x)

x **= 2 # Pangkat
print(x)

x //= 2 # Pembagian dengan  pembulatan ke bawah
print(x)

In [ ]:
# 3. Comparison operators

print(33 == 33) # Persamaan
print(34 == 33)

print(34 != 33) # Pertidaksamaan
print(33 != 33)

print(34 > 33) # Lebih besar dari
print(33 > 34)

print(33 < 34) # Lebih Kecil dari
print(34 < 33)

print(34 >= 33) # Lebih besar atau sama dengan
print(33 >= 34)

print(33 <= 34) # Lebih kecil atau sama dengan
print(34 <= 33)

In [ ]:
# 4. Logical Operators
x = 5

print(x >= 1 and x <= 10) # and
print(x >= 1 and x <= 4)

print(x >= 1 or x <= 2) # or
print(x >= 5 or x <= 0)

print(not(x == 7)) # not
print(not(x >= 10))

In [ ]:
# 5. Identity Operators 
x = ["Ani", "Budi"]
y = ["Ani", "Budi"]
a = x

print(a is x) # is
print(a is y)

print(a is not x) # is not
print(a is not y)

In [ ]:
# 6. Membership Operators
x = ["Ani", "Budi", "Cici"]
y = "Cici"
z = "Dodi"

print(y in x) # in
print(z in x)

print(y not in x) # not in
print(z not in x)

In [ ]:
# Kode awal
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1 # pajak dalam persen ~ 10%
harga_bayar = 1 - 0.3 # baris pertama
harga_bayar *= total_harga # baris kedua
pajak_bayar = pajak * harga_bayar # baris ketiga
harga_bayar += pajak_bayar # baris ke-4
print("Kode awal - harga_bayar=", harga_bayar)
# Penyederhanaan baris kode dengan menerapkan prioritas operator
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1 # pajak dalam persen ~ 10%
harga_bayar = (1 - 0.3) * total_harga #baris pertama 
harga_bayar += harga_bayar * pajak # baris kedua
print("Penyederhanaan kode - harga_bayar=", harga_bayar)

In [ ]:
sepatu = { "nama" : "Sepatu Niko", "harga": 150000, "diskon": 30000 }
baju = { "nama" : "Baju Unikloh", "harga": 80000, "diskon": 8000 }
celana = { "nama" : "Celana Lepis", "harga": 200000, "diskon": 60000 }
harga_sepatu = sepatu["harga"] - sepatu["diskon"]
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
total_harga = (harga_sepatu + harga_baju + harga_celana) * 1.1 
print(total_harga)

##  BAB 4. Pythons Conditioning & Looping

In [ ]:
tagihan_ke = 'Mr. Yoyo'
warehousing = { 'harga_harian': 1000000, 'total_hari':15 } 
cleansing = { 'harga_harian': 1500000, 'total_hari':10 } 
integration = { 'harga_harian':2000000, 'total_hari':15 } 
transform = { 'harga_harian':2500000, 'total_hari':10 }
sub_warehousing = warehousing['harga_harian'] * warehousing['total_hari'] 
sub_cleansing = cleansing['harga_harian'] * cleansing['total_hari'] 
sub_integration = integration['harga_harian'] * integration['total_hari'] 
sub_transform = transform['harga_harian'] * transform['total_hari']
total_harga = sub_warehousing + sub_cleansing + sub_integration + sub_transform
print("Tagihan kepada:") 
print(tagihan_ke)
print("Selamat pagi, anda harus membayar tagihan sebesar:") 
print(total_harga)

In [ ]:
jam = 17
tagihan_ke = 'Mr. Yoyo'
warehousing = { 'harga_harian': 1000000, 'total_hari':15 } 
cleansing = { 'harga_harian': 1500000, 'total_hari':10 } 
integration = { 'harga_harian':2000000, 'total_hari':15 } 
transform = { 'harga_harian':2500000, 'total_hari':10 }
sub_warehousing = warehousing['harga_harian']*warehousing['total_hari'] 
sub_cleansing = cleansing['harga_harian']*cleansing['total_hari'] 
sub_integration = integration['harga_harian']*integration['total_hari'] 
sub_transform = transform['harga_harian']*transform['total_hari']
total_harga = sub_warehousing+sub_cleansing+sub_integration+sub_transform
print("Tagihan kepada:")
print(tagihan_ke)
if jam > 19:
    print("Selamat malam, anda harus membayar tagihan sebesar:")
elif jam > 17:
    print("Selamat sore, anda harus membayar tagihan sebesar:") 
elif jam > 12:
    print("Selamat siang, anda harus membayar tagihan sebesar:")
else:
    print("Selamat pagi, anda harus membayar tagihan sebesar:") 
print(total_harga)

In [ ]:
list_cash_flow = [
2500000, 5000000, -1000000, -2500000, 5000000, 10000000,
-5000000, 7500000, 10000000, -1500000, 25000000, -2500000
]
total_pengeluaran, total_pemasukan = 0, 0
for dana in list_cash_flow:
    if dana > 0:
        total_pemasukan += dana
    else:
        total_pengeluaran += dana
total_pengeluaran *= -1
print(total_pengeluaran) 
print(total_pemasukan)

## BAB 5. Mini Quiz

### Ekspedisi Pamanku 

Aku menyambar ponsel di meja dan membuka pesan singkat dari paman tempo hari yang menjelaskan jika paman harus mengeluarkan uang sebesar 1,5 juta per mobil dalam sehari. Tapi, beliau selalu kebingungan dengan total pengeluaran per bulan karena adanya aturan ganjil-genap yang membuat pengoperasian mobil yang berbeda.

“Kalau begitu, aku akan masukkan variabel jumlah_hari berisi jumlah hari dalam sebulan dan variabel list_plat_nomor berisi seluruh nomor plat mobil milik paman,” gumamku sendiri. Kalau seperti ini paman hanya perlu mengganti variabel jumlah_hari atau modifikasi variabel list_plat_nomor untuk melacak total pengeluaran paman selama sebulan. Ide Cemerlang!

In [ ]:
# Data
uang_jalan = 1500000
jumlah_hari = 31
list_plat_nomor = [8993, 2198, 2501, 2735, 3772, 4837, 9152]
# Pengecekan kendaraan dengan nomor pelat ganjil atau genap 
# Deklarasikan kendaraan_genap dan kendaraan_ganjil = 0
kendaraan_genap = 0 
kendaraan_ganjil = 0
for plat_nomor in list_plat_nomor:
    if plat_nomor % 2 == 0:
        kendaraan_genap += 1 
    else:
        kendaraan_ganjil += 1
# Total pengeluaran untuk kendaraan dengan nomor pelat ganjil 
# dan genap dalam 1 bulan
i = 1
total_pengeluaran = 0
while i <= jumlah_hari:
    if i % 2 == 0:
        total_pengeluaran += (kendaraan_genap * uang_jalan)
    else:
        total_pengeluaran += (kendaraan_ganjil * uang_jalan) 
    i += 1
# Cetak total pengeluaran
print(total_pengeluaran)

## Hasil Belajarku

Dari materi yang telah aku pelajari dan praktekkan, aku telah mempelajari:

    Alasan Python secara luas digunakan dalam komputasi saintifik, web, ranah data (data domain).
    Konstruksi dari struktur bahasa pemrograman Python.
    Teknik mempraktekkan penggunaan tipe data pada Python.
    Teknik mempraktekkan penggunaan jenis-jenis operator pada Python.
    Teknik mempraktekkan penggunaan pengkondisian untuk pengambilan keputusan dan perulangan pada Python.
    Program Python untuk penyelesaian kasus bisnis sederhana.